<div class="z_report_hold">
  <div class="report_in_msg" style="cursor: pointer">
    <div class="z_msg_lft">Total Time:</div>
    <div class="z_msg_rit"><%= "%.2f" % @total_time %> Hours</div>

  </div>
  <div class="report_in_msg" style="cursor: pointer">
    <div class="z_msg_lft">Total Mileage:</div>
    <div class="z_msg_rit"><%= "%.2f" % @total_distance %> Miles</div>

  </div>

</div>


