<section class="about_sec" id="margin_bot">
  <div class="hiddenfile">
    <input name="upload" type="file" id="fileinput"/>
  </div>
  <div class="container01">
    <div class="col_1">
      <ul>
        <li><a href="about_us.html" class="activ_blue">Abuot Us -</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="col_2">
      <div class="about_content">
        <h2>Curabitur Blandit Tempus Porttitor</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia. Natoque penatibus et magnis dis parturient.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>
    <div class="col_3">
      <div class="mission">
        <h2>Mission</h2>
        <p>“Morbi leo risus, porta ac consectetur ac, Morbi leo risus, porta ac consectetur ac lorem ipsum dolor sit amet.”</p>
      </div>
      <div class="mission">
        <h2>Vision</h2>
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dui elit, cursus in urna quis, suscipit metus pellentesque iaculis consectetur.”</p>
      </div>
    </div>
  </div>
</section><!-- About -->
<section class="aobut_flow">
  <div class="container">
    <div class="flow_img"><img src="/assets/about_flow.png" ></div>
  </div>
</section>
<section class="about_crcl">
  <div class="container">
    <div class="demo">
      <div id="horizontalTab">
        <ul class="resp-tabs-list">
          <li>Business</li>
          <li>Retail</li>
          <li>Personal</li>
        </ul>
        <div class="resp-tabs-container">
          <div>
            <h3>Curabitur Blandit Tempus Porttitor</h3>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.  <br>
              Natoque penatibus et magnis dis parturient. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna.</p>
          </div>
          <div>
            <h3>Curabitur Blandit Tempus Retail</h3>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia. <br>
              Natoque penatibus et magnis dis parturient. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna.</p>
          </div>
          <div>
            <h3>Curabitur Blandit Tempus Personal</h3>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.  <br>
              Natoque penatibus et magnis dis parturient. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="z_testimonial_3" class="testi-bg P_0">
  <div class="container">
    <div class="z_testi" id="test_container">
      <div class="testimonial">
        <div class="z_repet">
          <div class="z_nme_img">
            <div class="z_dp_img"><img src="/assets/pic.png"></div><!--z_dp_img-->
            <!--<p>1 Glenn Rush</p>
            <span>Entrepreneur</span>-->
          </div><!--z_nme_img-->
          <div class="z_testi_txt">
            <img src="/assets/inverted.png">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero. pharetra augue.</p>
            <p>- Glenn Rush, Entrepreneur</p>
            <img class="f-r" src="/assets/inverted-2.png">
          </div><!--z_testi_txt-->
        </div><!--z_repet-->
        <div class="z_repet">
          <div class="z_nme_img">
            <div class="z_dp_img"><img src="/assets/tosi.png"></div><!--z_dp_img-->
            <!--<p>2 Glenn Rush</p>
            <span>Entrepreneur</span>-->
          </div><!--z_nme_img-->
          <div class="z_testi_txt">
            <img src="/assets/inverted.png">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero. pharetra augue.</p>
            <p>- Glenn Rush, Entrepreneur</p>
            <img class="f-r" src="/assets/inverted-2.png">
          </div><!--z_testi_txt-->
        </div><!--z_repet-->
        <div class="z_repet">
          <div class="z_nme_img">
            <div class="z_dp_img"><img src="/assets/pic.png"></div><!--z_dp_img-->
            <!--<p>3 Glenn Rush</p>
            <span>Entrepreneur</span>-->
          </div><!--z_nme_img-->
          <div class="z_testi_txt">
            <img src="/assets/inverted.png">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero. pharetra augue.</p>
            <p>- Glenn Rush, Entrepreneur</p>
            <img class="f-r" src="/assets/inverted-2.png">
          </div><!--z_testi_txt-->
        </div><!--z_repet-->
        <div class="z_repet">
          <div class="z_nme_img">
            <div class="z_dp_img"><img src="/assets/tosi.png"></div><!--z_dp_img-->
            <!--<p>4 Glenn Rush</p>
            <span>Entrepreneur</span>-->
          </div><!--z_nme_img-->
          <div class="z_testi_txt">
            <img src="/assets/inverted.png">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero. pharetra augue.</p>
            <p>- Glenn Rush, Entrepreneur</p>
            <img class="f-r" src="/assets/inverted-2.png">
          </div><!--z_testi_txt-->
        </div><!--z_repet-->
      </div><!--testimonial-->
    </div><!--z_testi-->
  </div><!--container ends-->
</section><!--z_testimonial-->


    <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true,   // 100% fit in a container
                    closed: 'accordion', // Start closed if in accordion view
                    activate: function(event) { // Callback function if tab is switched
                        var $tab = $(this);
                        var $info = $('#tabInfo');
                        var $name = $('span', $info);

                        $name.text($tab.text());

                        $info.show();
                    }
                });

                $('#verticalTab').easyResponsiveTabs({
                    type: 'vertical',
                    width: 'auto',
                    fit: true
                });
//                $('#fileinput').trigger('click');
                $('fileinput').attr('value', 'ssss')
            });


    </script>
