<section class="about_sec">
  <div class="container01">
    <div class="col_1">
      <ul>
        <li><a href="/about-us">Abuot Us</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/contact-us" class="activ_blue">Contact Us -</a></li>
      </ul>
    </div>
    <div class="col_2">
      <div class="about_content">
        <h2>Have a Question?</h2>
        <form class="contact_form">
          <label>Full Name</label>
          <input type="text" placeholder="Ex. John Smith" >
          <label>Email Address</label>
          <input type="text" placeholder="Ex. john.smith@gmail.com" >
          <label>Subject</label>
          <input type="text" placeholder="What would you like to talk about?" >
          <label>Message</label>
          <textarea placeholder="Write your question here..."></textarea>
        </form>
      </div>
    </div>
    <div class="col_3">
      <div class="mission_1">
        <h3>Phone:</h3>
        <h4>1-800-123-4563</h4>
      </div>
      <div class="mission_1">
        <h3>Address:</h3>
        <h4>2356 B Sierra Street, Suite E Los Angeles, CA 89563</h4>
      </div>
    </div>
  </div>
</section><!-- About -->