<section class="about_sec">
  <div class="container01">
    <div class="col_1">
      <ul>
        <li><a href="/about-us">Abuot Us</a></li>
        <li><a href="/locations" class="activ_blue">Locations -</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="col_4">
      <div class="about_content">
        <h2>Ziply is Available 24/7 in the Following Areas for Pick-Up</h2>
        <div class="map_img"><img src="/assets/map.png"></div>
      </div>
      <div class="zone_info">
        <div class="zone_col">
          <label>Zone 1</label>
          <ul>
            <li>Pacific Palisades</li>
            <li>Santa Monica</li>
            <li>Venice</li>
            <li>Marina Del Ray</li>
          </ul>
        </div>
        <div class="zone_col">
          <label>Zone 2</label>
          <ul>
            <li>Bel Air</li>
            <li>Westwood</li>
            <li>Century City</li>
            <li>Culver City</li>
          </ul>
        </div>
        <div class="zone_col">
          <label>Zone 3</label>
          <ul>
            <li>Beverly Hills</li>
            <li>West Hollywood</li>
            <li>Hollywood</li>
            <li>Los Feliz</li>
          </ul>
        </div>
        <div class="zone_col">
          <label>Zone 4</label>
          <ul>
            <li>Donwtown LA</li>
            <li>Central LA</li>
            <li>MidCity</li>
            <li>Westlake</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section><!-- About -->
<div class="snd_pkg">
  <div class="container">
    <section class="send_pkg">
      <div class="z_get_started"><a class="z_orngxbig_btn" href="/customer/jobs/new">Send A Package</a></div>
    </section>
  </div>

</div>
<section class="location_mail">
  <div class="container">
    <div class="mail_h">
      <h2>Want Ziply In Your Area?</h2>
      <h4>Request Ziply near you today</h4>
    </div>
    <div class="send_mail">
      <form>
        <input type="text" placeholder="Enter Email Adddress..." >
        <input type="submit" value="Send" class="z_orngxbig_btn">
      </form>
    </div>
  </div>
</section>