<section class="about_sec">
  <div class="container01">
    <div class="col_1">
      <ul>
        <li><a href="#" class="activ_blue">Press -</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="col_5">
      <div class="about_content">
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="press_post">
          <h2>Curabitur Blandit Tempus Porttitor</h2>
          <div class="press_img"><img src="/assets/press_1.png"></div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          <div class="posted"><span>Posted:</span>16hours Ago</div>
          <div class="all_tags">
            <span>Tags: </span>
            <ul>
              <li><a href="#">important ,</a></li>
              <li><a href="#">older post ,</a></li>
              <li><a href="#">superman ,</a></li>
              <li><a href="#">widget ,</a></li>
              <li><a href="#">spiderman ,</a></li>
              <li><a href="#">batman ,</a></li>
            </ul>
          </div>
          <div class="press_r_m"><a href="#">Read More</a></div>
        </div>
        <div class="next_page"><a href="#">next page</a></div>
      </div>
    </div>
  </div>
</section><!-- About -->