<div class="zrev_star">
  <% rating.to_i.times do |rating| %>
      <div class="star active"><i class="fa fa-star"></i></div>
  <% end %>
  <% in_active_rating.to_i.times do |driver_rating| %>
      <div class="star"><i class="fa fa-star"></i></div>
  <% end %>
</div>