<div class="zrev_star">
  <div class="star active"><i class="fa fa-star"></i></div>
  <div class="star active"><i class="fa fa-star"></i></div>
  <div class="star active"><i class="fa fa-star"></i></div>
  <div class="star active"><i class="fa fa-star"></i></div>
</div>