<div style="width: 350px">
  <div class="j_b_hold" style=" background: none repeat scroll 0 0 #E5E5E5;
          padding-bottom: 50px;">
    <div class="choose_f_text">
      <h1>You're all set, <%= @user.first_name %></h1>

      <p class="panelTxt">We just sent you an email to
        <a href="mailto:<%= @user.email %>" class="greenLink"><%= @user.email %></a>
        with your sign-in information</p>


    </div>
  </div>
</div>
