<div class="z_light_box">
  </div>
  <div class="box_hold_new">
    <div class="z_expression z_100 zbrd0">
      <h5>Are you sure you want to<br> Confirm this Driver?</h5>
    </div>
    <!--z_expression-->
    <div class="z_100">
      <div class="z_100">
        <%= link_to "Yes, Confirm", "javascript:void(0);", :class => "z_xdel_btn zset_pad z_100", :onclick => "confirm_driver(#{ @user.id})" %>
      </div>
      <!--box_butns-->
    </div>
    <!--z_100-->
    <a href="javascript:void(0);" class="close" onclick="close_pop_up();"><img src="/assets/box_close.png"></a>
  </div>
  <!--box_hold_new-->

<script>
    function close_pop_up() {
        $('.z_light_box').hide();
        $(".box_hold_new").hide();
        document.location.reload();
    }
    $(".z_light_box").click(function (e) {
        $('.z_light_box').hide();
        $(".box_hold_new").hide();
        document.location.reload();
    });
    function confirm_driver(id) {
        $("#ajax_loader").show();
        $(".shadow").show();
        $.ajax({
            url: '/super_admin/drivers/invite?id=' + id,
            type: 'get',
            dataType: 'html',
            processData: false,
            success: function (data) {
                $("#pop_up_div").html(data);
                $("#ajax_loader").hide();
                $(".shadow").hide();
            }
        });
    }

</script>