<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
      Drivers
      <small>Edit , Block and More</small>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="/super_admin/dashboard">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="/super_admin/drivers">All Drivers</a>
        <!--<i class="fa fa-angle-right"></i>-->
      </li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
  </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div id="driver_list">
  <%= render :partial => "/super_admin/drivers/list" %>
</div>


<!-- END PAGE CONTENT-->
</div>



<script>
    jQuery(document).ready(function () {
        TableManaged.init();
        initialize_table();
    });

    function initialize_table() {
        var active_table = $('#active_driver');

        // begin first table
        active_table.dataTable({
            "columns": [
                {
                    "orderable": true
                },
                {
                    "orderable": true
                },
                {
                    "orderable": true
                },
                {
                    "orderable": true
                },
                {
                    "orderable": false
                }

            ],
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,
            "pagingType": "bootstrap_full_number",
            "language": {
                "lengthMenu": "_MENU_ records",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "columnDefs": [
                {  // set default column settings
                    'orderable': false,
                    'targets': [0]
                },
                {
                    "searchable": false,
                    "targets": [0]
                }
            ],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

        var driver_request = $('#driver_request');

        // begin first table
        driver_request.dataTable({
            "columns": [
                {
                    "orderable": true
                },
                {
                    "orderable": true
                },
                {
                    "orderable": true
                },
                {
                    "orderable": true
                },
                {
                    "orderable": false
                }
            ],
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,
            "pagingType": "bootstrap_full_number",
            "language": {
                "lengthMenu": "_MENU_ records",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "columnDefs": [
                {  // set default column settings
                    'orderable': false,
                    'targets': [0]
                },
                {
                    "searchable": false,
                    "targets": [0]
                }
            ],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });
    }

    function confirm_driver(id) {
        apprise("Are you sure you want to Confirm this Driver?", {'confirm': true}, function (r) {
            if (r) {
                $('.shadow').show();
                $('.ajax_loader').show();
                var container = $("#trunk_detail");
                $.ajax({
                    url: '/super_admin/drivers/invite?id=' + id,
                    type: 'get',
                    dataType: 'html',
                    processData: false,
                    success: function (data) {
                        $("#driver_list").html(data);
                        $("#ajax_loader").hide();
                        $(".shadow").hide();
                        initialize_table();
                        hudMsg("success", "Email with password delivered to driver");
                    }
                });
            }
        });
    }

    function disable_user(id, status) {
        var msg = "";
        var new_status = "";
        var success_message = "";
        if (status == "active") {
            msg = "Are you sure you want to Disable this Driver?"
            new_status = "inactive"
            success_message = "Driver successfully Disabled";
        } else {
            msg = "Are you sure you want to Enable this Driver?"
            new_status = "active"
            success_message = "Driver successfully Enable";
        }
        apprise(msg, {'confirm': true}, function (r) {
            if (r) {
                $('.shadow').show();
                $('.ajax_loader').show();
                $.ajax({
                    url: '/super_admin/drivers/disable_driver?id=' + id + "&status=" + new_status,
                    type: 'get',
                    dataType: 'html',
                    processData: false,
                    success: function (data) {
                        $("#driver_list").html(data);
                        $("#ajax_loader").hide();
                        $(".shadow").hide();
                        initialize_table();
                        hudMsg("success", success_message);
                    }
                });
            }
        });
    }


</script>
