<div class="z_light_box">
</div>
<div class="box_hold_new">
  <div class="z_expression z_100 zbrd0">
    <h3>Deleted</h3>
    <h5>Your messages has been successfully deleted.</h5>
  </div>
  <!--z_expression-->
  <div class="z_100">
    <div class="z_100">
      <%= link_to "Back to Messages", driver_messages_path, :class => "z_orngbig_btn zset_pad z_100" %>

    </div>
    <!--box_butns-->
  </div>
  <!--z_100-->
  <a href="javascript:void(0);" class="close" onclick="close_pop_up();"><img src="/assets/box_close.png"></a>
</div>
<!--box_hold_new-->

<script type="text/javascript">
    function close_pop_up() {
        $('.z_light_box').hide();
        $(".box_hold_new").hide();
        document.location.reload();
    }

    $(".z_light_box").click(function (e) {
        $('.z_light_box').hide();
        $(".box_hold_new").hide();
        document.location.reload();
    });
</script>