<div class="z_light_box">
</div>
<div class="box_hold_new">
  <div class="z_expression z_100 zbrd0">
    <h5>Are you sure you want to<br> Cancel this Order?</h5>
  </div>
  <!--z_expression-->
  <div class="z_100">
    <div class="z_100">
      <%= link_to "Yes, Cancel Order", "javascript:;", :class => "z_xdel_btn zset_pad z_100", :onclick => "cancel_order(#{@job.id});" %>
    </div>
    <!--box_butns-->
  </div>
  <!--z_100-->
  <a href="javascript:void(0);" class="close" onclick="close_pop_up();"><img src="/assets/box_close.png"></a>
</div>
<!--box_hold_new-->

<script>
    function close_pop_up() {
        $('.z_light_box').hide();
        $(".box_hold_new").hide();
    }

    $(".z_light_box").click(function (e) {
        $('.z_light_box').hide();
        $(".box_hold_new").hide();
    });

    function cancel_order(id) {
        $('.shadow').show();
        $('.ajax_loader').show();
        $.ajax({
            url: '/customer/jobs/cancel_order?id=' + id,
            type: 'get',
            dataType: 'JSON',
            processData: false,
            success: function (data) {
                if (data.success == true) {
                    $("#pop_up_div").html("");
                    alert(data.html);
                    $("#pop_up_div").html(data.html);
                } else {
                    hudMsg("error", "Failed to cancel order");
                }

                $("#ajax_loader").hide();
                $(".shadow").hide();
            }
        });
    }

</script>